@use "sass:color";
@use "sass:map";
@use './variables' as v;

$breakpoints: (
  "mobile": 600px,
  "tablet": 900px,
  "desktop": 1200px,
);

@mixin glass-card($color: v.$light, $elevated: false) {
  background: $color;
  border-radius: v.$border-radius;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  @if $elevated {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    transform: translateY(-5px);
    border-color: color.adjust($color, $lightness: 20%);
  }
}

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @media (max-width: $value) {
    @content;
  }
}